@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the system</h1>
<p>Your email: @Model.Email</p>
<p>Your role: @Model.Role</p>
<p>Your account ID: @Model.AccountId</p>

@if (Model.Message.Length != 0)
{
    <div class="alert alert-info" role="alert">
        @Model.Message
    </div>
}

<form method="post" asp-page-handler="Logout">
    <button type="submit">Logout</button>
</form>
