@page "{id}"
@model RazorPagesFE.Pages.CategoryPage.DetailsModel

@{
    ViewData["Title"] = "Category Details";
}

<h1>Category Details</h1>

<div>
    <h4>@Model.Category.CategoryName</h4>
    <div>
        <p><strong>Description:</strong> @Model.Category.CategoryDesciption</p>
        <p><strong>Is Active:</strong> @Model.Category.IsActive</p>
        <p><strong>Parent Category:</strong> @Model.Category.ParentCategory?.CategoryName</p>
    </div>

    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
